@media (min-width: 1024px) {
/**======================HEADER======================**/
header {
    background: none;
}

header section .textlogo {
  flex: 1;
  margin-left: 15px;
}

header section .menu .burger {
  display: none
}

header section .menu nav {
  position: static;
  background: none;
  width: auto;
  max-height: none;
}

header section .menu nav ul {
  width: auto;
  margin: 10px 0 0 0;
  display: block;
}

header section .menu nav ul li {
  display: inline-block;
  margin-top: 0;
  margin-left: 25px;
}

.title {
  align-items: start;
  text-align: left;
}

/**======================FOOTER======================**/

footer * {
    margin: 0;
}

footer {
    flex-direction: row;
}

footer nav, .footer_adress, .footer_some-icons{
    width: 100vw;
    justify-content: space-around;
}

.footer_logo {
    width: 150vw;
}

.footer_logo a {
  display: flex;
  justify-content: center;
}

.footer_logo img {
  width: 10vw;
}

footer ul li, footer p {
  justify-content: center;
  text-align: left;
}

footer ul li {
  width: auto;
}

.footer_some-icons {
  width: 0 20vw;
  margin: auto 10vw;
}

.footer_some-icons a {
  margin: auto 1vw;
}


/**======================LANDING PAGE======================**/









/**======================ABO+PREISE======================**/

.abopreise__packages {
  flex-direction: row;
  justify-content: space-between;
}

.abopreise__packages__package {
  width: 32%;
}

.abopreise__business {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.abopreise__business img {
  width: 49%;
}

.abopreise__business__text {
  width: 49%;
}

/**======================PARTNER======================**/
.partner_werden {
  padding: 20px 0px 20px 0px;
  text-align: center;
  }
  
  .partner_werden_vorteile {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .partner_werden_vorteil {
    flex: 25%;
    padding: 5px 20px 10px 20px;
  }
  
  .partner_werden_kurse {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .partner_werden_box {
    display: flex;
    flex-wrap: wrap;
    flex: 22%;
    margin: 5px 20px 10px 20px;
  }
  
  .partner_werden_kursangaben {
  margin: 20px 10px 20px 15px;
  text-align: left;
  }
  
  .partner_werden_icon {
  width: 30px;
  margin-right: 15px;
  }







/**======================IMPRESSUM======================**/

.impressum section {
  margin-bottom: 15px;
  margin-top: 20px;

}

.impressum section.disclaimer {
  margin-top: 60px;
}







/**======================UBERUNS======================**/


.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile {
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;    
  margin-bottom: 40px;
  width: 30%;
  margin-left: 5vh;

}



.portrait {
 border-radius: 50%;
 padding: 10px;
 width: 20vw;
 height: 20vw;
 max-width: 300px;
 max-height: 300px;
 object-fit: cover;
}

.gruendung {
  margin-top: 30px;
  margin-bottom: 0px;
}

.gruendung h2 {
  margin-bottom: 10px;
  color: #F5F5F5;
}

.gruendung p {
  margin-bottom: 10px;
}








/**======================SPORTARTEN======================**/

.artikel{
    display: flex;
    gap: min(3vw, 40px);
    margin-bottom: 100px;
}

.artikel_reverse {
    flex-direction: row-reverse;
}

 .bild_artikel {
    width: 50%;
    height: 40vh;
    border-radius: 20px;
    object-fit: cover;
 }

.text_artikel{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.text_artikel .button{
    margin-top: 25px;

}


/**======================SUPPORT======================**/









/**======================FORMULARPARTNER======================**/









/**======================PAYWALL======================**/







}