* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #AFFC41;
  --secondary: #D60059;
  --shade: #1E1E1E;
  --highlight: #F5F5F5;
  font-size: 12px;
  color: var(--highlight);
  font-family: "noka", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--shade);
}

a {
  text-decoration: none;
  color: var(--primary);
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(150deg, #AFFC41 -10%, #008E82 100%);
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  font-weight: 600;
  margin-bottom: 25px;
}

h2 {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 15px;
}

h3{
  margin-bottom:5px;
}

.button {
  padding: 16px 32px;
  min-width: 144px;
  background-color: var(--primary);
  color: var(--shade);
  border-radius: 1000px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--highlight);
}

.button.secondary {
  background-color: var(--highlight);
}

.button.secondary:hover {
  background-color: var(--secondary);
  color: var(--highlight);
}

.button.wire {
  background-color: transparent;
  color: var(--primary);
  border: solid 2px var(--primary);
}

.button.wire:hover {
  background-color: var(--primary);
  color: var(--shade);
}

.button.secondary.wire {
  background-color: transparent;
  color: var(--highlight);
  border: solid 2px var(--highlight);
}

.button.secondary.wire:hover {
  background-color: var(--highlight);
  color: var(--shade);
}

main {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
}


.partner_werden {
  padding: 20px 0px 20px 0px;
  text-align: center;

 
}

.partner_werden_bild {
  max-width: 30vw;
}

.partner_werden_vorteile {
  display: flex;
  flex-direction: column;
}

.partner_werden_vorteil-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partner_werden_vorteil-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partner_werden_vorteil-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partner_werden_kurse {
  display: flex;
  flex-direction: column;
}

.partner_werden_box {
  border-radius: 20px;
  border: solid 2px white
}

.partner_werden_kursbild {
  max-width: 70%;
  justify-content: center;
}