/**======================HEADER======================**/









/**======================FOOTER======================**/









/**======================HOME======================**/









/**======================Abo+Preise======================**/









/**======================PARTNER======================**/









/**======================IMPRESSUM======================**/
.impressum section {
    margin-bottom: 15px;
    margin-top: 20px;
}








/**======================UBERUNS======================**/
.portraits {
    
     border-radius: 50%;
    
}








/**======================SPORTARTEN======================**/









/**======================SUPPORT======================**/









/**======================FORMULARPARTNER======================**/









/**======================PAYWALL======================**/








