/**======================HEADER======================**/

header {
  height: 80px;
  background-color: var(--shade);
  border-bottom: solid 2px var(--primary);
  position: relative;
}

header section {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section .logo {
  height: 60px;
}

header section .logo img {
  height: 100%;
}

header section .textlogo {
  font-size: 2rem;
  color: var(--highlight);
}

header section .menu input {
  display: none;
}

header section .menu .burger {
  position: relative;
  width: 40px;
  height: 60px;
  transition-duration: 0.5s;
  display: block;
}

header section .menu .burger span:nth-child(1) {
  transition-duration: 0.5s;
  transform-origin: 100% 0%;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--highlight);
  top: 15px;
}

header section .menu .burger span:nth-child(2) {
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 40px;
  top: 30px;
  background-color: var(--highlight);
}

header section .menu .burger span:nth-child(3) {
  transition-duration: 0.5s;
  transform-origin: 100% 100%;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--highlight);
  top: 45px;
}

header section .menu #menuopen:checked ~ .burger span:nth-child(2) {
  transition-duration: 0.5s;
  background: transparent;
}
header section .menu #menuopen:checked ~ .burger span:nth-child(1) {
  transform: rotateZ(-45deg) translateY(0) scale(1.05);
}
header section .menu #menuopen:checked ~ .burger span:nth-child(3) {
  transform: rotateZ(45deg) translateY(0) scale(1.05);
}
header section .menu .burger:hover {
  cursor: pointer;
}

header section .menu nav {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  background-color: #363935;
  transition: ease max-height 0.5s;
  max-height: 0;
  overflow: hidden;
}

header section .menu nav ul {
  width: 90vw;
  max-width: 1200px;
  margin: 20px auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header section .menu nav ul li {
  margin: 10px 0;
}

header section .menu nav ul li.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  position: relative;
  top: 5px;
}

header section .menu nav ul li a {
  color: var(--highlight);
  font-size: 1.2rem;
}

header section .menu nav ul li a:hover {
  color: var(--primary);
}

header section .menu #menuopen:checked ~ nav {
  max-height: 300px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/**======================FOOTER======================**/
footer {
  background-color: #363935;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: var(--secondary) solid 2px;
}

.footer_logo,
footer nav,
.footer_adress {
  margin: 0.75rem 0;
}

footer p a,
footer ul li a {
  color: var(--highlight);
}

.footer_logo {
  margin: 2rem 0;
}

.footer_logo img {
  width: 25vw;
}

footer p {
  text-align: center;
}

footer ul li {
  text-align: center;
  width: 100vw;
  list-style-type: none;
  justify-content: center;
}

.footer_some-icons {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
}

.footer_some-icons a svg {
  width: 40px;
}

.footer_some-icons a svg path {
  fill: var(--primary);
}

.footer_some-icons a:hover svg path {
  fill: var(--secondary);
}

/**======================LANDING PAGE======================**/

.landing-page_main {
  margin: 0;
  width: 100%;
  max-width: none;
}

.index_banner {
  padding: 1rem 5vw;
  margin-bottom: 2rem;
  background-image: url('../img/index/gradient-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index_banner .image_container {
  width: 90vw;
  margin-bottom: 1rem;
}

.index_banner .image_container img {
  width: 100%;
}

.index_banner_text {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.index_banner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.index_banner_text_buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.download-badge {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
}

.download-badge:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.download-badge img {
  height: 100%;
}

.landing-page_section {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.lustmacher {
  position: relative;
  padding: 1rem 0;
}

.lustmacher::before {
  content: '';
  display: block;
  width: 60%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
}

.lustmacher::after {
  content: '';
  display: block;
  width: 60%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  right: 0;
}

.lustmacher h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--highlight);
}

.lustmacher p {
  font-size: 1.5rem;
}

.lustmacher img {
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  margin: 1rem 0;
  object-fit: cover;
}

.lustmacher .lower-text {
  text-align: right;
}

.erklaerung:after {
  content: '';
  display: block;
  background-image: url('../img/index/stripe.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 300vw;
  height: 400%;
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%) rotate(-165.827deg);
  z-index: -1;
}

.erklaerung {
  position: relative;
  background-color: #363935;
  margin: 0;
  width: 100%;
  max-width: none;
  padding: 3rem 0;
  margin-bottom: 3rem;
  overflow-x: clip;
}

.erklaerung__content {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.erklaerung__content__text p {
  margin-bottom: 1rem;
}

.erklaerung__content iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
}

.testimonialsection h2 {
  text-shadow: 0 0 10px var(--shade);
}

.testimonials__card {
  background-color: #363935;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.testimonials__card__stars svg {
  color: var(--secondary);
  fill: var(--secondary);
}

.testimonials__card__content {
  margin: 0.5rem 0;
}

.testimonials__card__author {
  font-weight: 700;
}

/**======================ABO+PREISE======================**/

.abopreise__packages {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.abopreise__packages__package {
  background-color: #363935;
  border-radius: 20px;
  padding: 20px 30px 2px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.abopreise__packages__package_premium {
  padding: 18px 28px 0 28px;
  border: solid 2px var(--secondary);
}

.abopreise__packages__package h2 {
  text-align: center;
}

.abopreise__packages__package__price {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.abopreise__packages__package__price sub {
  font-size: 1rem;
  position: relative;
  bottom: 8px;
  margin-left: 5px;
}

.abopreise__packages__package__price sup {
  font-size: 1rem;
  position: relative;
  top: -8px;
  margin-right: 5px;
}

.abopreise__packages__package ul {
  margin: 20px 0 0 0;
  list-style-type: none;
}

.abopreise__packages__package ul li {
  margin-bottom: 10px;
  text-align: center;
}

.abopreise__packages__package .button {
  position: relative;
  top: 21px;
}

.abopreise__business {
  margin: 80px 0 60px 0;
  display: flex;
  flex-direction: column;
}

.abopreise__business img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.abopreise__business__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 10px 0 15px 0;
  margin-top: 20px;
}

.abopreise__business__text::before {
  content: '';
  display: block;
  width: 60%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
}

.abopreise__business__text::after {
  content: '';
  display: block;
  width: 60%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  right: 0;
}

.abopreise__business__text .button {
  align-self: flex-end;
  margin-top: 20px;
}

/**======================PARTNER======================**/

.partner_werden {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.partner_werden_bild {
  width: 20%;
  align-self: center;
}

.partner_werden_vorteile {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 20px 0px;
}

.partner_werden_vorteil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 20px 20px 10px;
}

.partner_werden_kurse {
  display: flex;
  flex-direction: column;
}

.partner_werden_box {
  border-radius: 20px;
  border: solid 2px white;
  margin: 10px 20px 20px 10px;
}

.partner_werden_kursbild {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  justify-content: center;
  object-fit: cover;
}

.partner_werden_kursangaben {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 10px 10px;
}

.partner_werden_kursdaten {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.partner_werden_icon {
  width: 4vw;
  margin-right: 8px;
  object-fit: contain;
}

/**======================IMPRESSUM======================**/
.impressum section {
  margin-bottom: 15px;
  margin-top: 20px;
}

.SunilMann {
  color: #f5f5f5;
  text-decoration: none;
  border: none;
}

.SunilMann:hover {
  color: #f5f5f5;
  text-decoration: none;
  border: none;
}

.SunilMann:visited {
  color: #f5f5f5;
  text-decoration: none;
  border: none;
}

/**======================UBERUNS======================**/

.profiles {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.profile p {
  width: 70%;
}

.portrait {
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
  width: 55vw;
  height: 55vw;
}

.entstehung img {
  width: 90vw;
  height: 70vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gruendung {
  margin-top: 30px;
  margin-bottom: 0px;
}

.gruendung h2 {
  margin-bottom: 10px;
  color: #f5f5f5;
}

.gruendung p {
  margin-bottom: 10px;
}

/**======================Unsere Kurse(=Sportarten)======================**/

.artikeln:last-child {
  margin-bottom: 0px;
}

.artikel {
  margin-bottom: 90px;
}

.bild_artikel {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  object-fit: cover;
}

.text_artikel {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.text_artikel .button {
  margin-top: 25px;
  align-self: flex-start;
}

/**======================SUPPORT======================**/

.support .title {
  margin-bottom: 3rem;
}

.support_faq {
  margin-bottom: 3rem;
}

.support_faq__question {
  background-color: var(--shade); /* Hintergrundfarbe */
  border: 2px solid #f5f5f5; /* Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  padding: 10px; /* Innenabstand */
  margin: 10px 0; /* Abstand zwischen den Boxen */
  color: var(--highlight);
  font-family: 'noka', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.support_faq__question summary {
  color: var(--highlight);
  font-family: 'noka', sans-serif;
  font-style: normal;

  cursor: pointer;
  padding: 5px;
}

.support_faq__question p {
  line-height: 1.5;
  color: var(--highlight);
  padding-top: 10px;
}

.support .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/**======================FORMULARPARTNER======================**/
.kontaktformular section {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vornamename {
  display: flex;
  gap: 30px;
  width: 100%;
}

.item {
  width: 50%;
}

.contact-form {
  padding: 20px;
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--shade);
  font-family: 'noka', sans-serif;
  font-style: normal;
  color: #f5f5f5;
}

/**======================Kontaktformular======================**/
.kontaktformular section {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vornamename {
  display: flex;
  gap: 30px;
  width: 100%;
}

.item {
  width: 50%;
}

.contact-form {
  padding: 20px;
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--shade);
  font-family: 'noka', sans-serif;
  font-style: normal;
}

/**======================PAYWALL======================**/
.feld_kurz {
  display: flex;
  gap: 15px;
}

.personals input {
  margin-bottom: 15px;
  padding: 10px;
  height: 40px;
  width: 100%;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: var(--shade);
  font-family: 'noka', sans-serif;
  font-style: normal;
}

.personals input:last-child {
  margin-bottom: 0;
}

.personals .feld_kurz input {
  width: 50%;
}

.pay {
  margin-top: 30px;
  border-top: solid 1px var(--secondary);
  padding-top: 20px;
}

.zahlmittel label {
  display: flex;
  align-items: center;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 100%;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gutschein {
  margin-top: 30px;
  border-top: solid 1px var(--secondary);
  padding-top: 20px;
}

.gutschein input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  height: 30px;
  width: 100%;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: var(--shade);
  font-family: 'noka', sans-serif;
  font-style: normal;
}

.agbtext {
  margin-top: 30px;
  border-top: solid 1px var(--secondary);
  padding-top: 20px;
  gap: 8px;
}

.agbtext_checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.agbtext_checkbox label {
  margin-left: 10px;
}

.paywallpreis {
  margin-top: 30px;
  border-top: solid 1px var(--secondary);
  padding-top: 20px;
}

.paywallpreis .button {
  margin-top: 20px;
}
